#first_word{
    color: #f2a178;
}

body {
    overflow-x: hidden;
}
.navbar .nav-link:hover{
    color: #f2a178;
}
.navbar .nav-link{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}
#report_heading{
    margin-top: 30px;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
}
#report_content{

    background: #eee6e6;
}
#cu_report{

    font-size: 30px;
    border-color: transparent;
}
#item_report{

    font-size: 30px;
    border-color: transparent;
}
#order_report{

    font-size: 30px;
    border-color: transparent;
}
.buttons{
    padding-top: 200px;
    padding-bottom: 300px;
}
.btn-primary{
    border-color: #e28a59;
    background: white;
    color: black;
}
.btn-primary:hover{
    background: #e28a59;
}